*{
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 23rem;
}

h1, h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    height: 15vh;
}
h3 {
    height: 10vh;
}

.choice-box, .selection-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    width: inherit;
}

.player-name, .score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
}

main > div > div > button {
    width: 7rem;
    height: inherit;
    background-color: black;
}

#rock {
    background-image: url(/assets/rock.png);
    background-position: center;
    /* background-color: white; */
    background-repeat: no-repeat;
    background-size: cover;
}

#paper {
    background-image: url(/assets/paper.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#scissor {
    background-image: url(/assets/scissors.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.result {
    text-align: center;
}