*{
    margin: 0;
    padding: 0;
}
h1{
    height: 10vh;
    text-align: center;
}
.description{
    text-align: center;
}
.choices{
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
}
.arena{
    height: 20vh;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}
footer{
    height: 20vh;
    text-align: center;
}